

/* .container{
    border: 5px solid black;
}

.innerContainer{
    border: 5px solid red;
}
.row{
    background-color: aqua;
} */


body{
    /* background-color: antiquewhite; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: right, bottom left;
    font-size: 15px;
    /* @import url(https://fonts.google.com/specimen/Montserra); */
    font-family: Montserrat;
}

.column1{
    /* background-color: blueviolet; */
    display: flex;
    flex-grow: 1;
}
.column2{
    /* background-color: red; */
    display: flex;
    flex-grow: 3;
}
.column3{
    /* background-color: blueviolet; */
    display: flex;
    flex-grow: 1;
}

.row1{
    flex-grow: 1;
    /* background-color: purple; */
}
.row2{
    /* background-color: green; */
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}
.row3{
    /* background-color: purple; */
    flex-grow: 1;
}

.centerContainer{
    /* background-color: darkblue; */
    flex-grow: 4;
    display: flex;
    flex-direction: column;
  }

  .centerContainerHeader{
    background-color: rgb(38, 38, 87);
    flex-grow: 1;
    display: flex;
    /* flex-direction: column; */
  }

  .centerContainerMiddle{
    /* background-color: red; */
    flex-grow: 4;
    display: flex;
    justify-content: space-evenly;
  }
  .centerContainerFooter{
    background-color: rgb(38, 38, 87);
    flex-grow: 1;
    display: flex;
    /* flex-direction: column; */
  }

  .imageBox{
    /* border: 2px solid red; */
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
  }

  .centerContainerHeaderCol{
    /* border: 2px solid black;  */

    flex-grow: 1;
  }

  .centerContainerMiddleCol{
       /* border: 2px solid black;  */
       background-color: rgb(38, 38, 87);

    flex-grow: 1;
  }

  .centerContainerFooterCol{
       /* border: 2px solid black;  */

    flex-grow: 1;
  }

  .centerContainerHeaderColMiddle{
    
    flex-grow: 7;
  }

  .centerContainerFooterColMiddle{
    flex-grow: 7;
  }
  
  .centerContainerMiddleColMiddle{
    display: flex;
    justify-content: center;
    flex-grow: 7;
    flex-direction: column;
  }

.middleOne{
    display: flex;
    flex-grow: 1;
    background-color: rgb(38, 38, 87);
    /* flex-direction: column; */
}

.middleTwo{
    flex-grow: 1;
    background-color: rgb(38, 38, 87);
}


/* .innerColumn1{
    display: flex;
    flex-grow: 1;
    background-color: hsl(240, 78%, 98%);
     color: red;
} 
.innerColumn2{
    display: flex;
    flex-grow: 6;
    background-color: hsl(240, 78%, 98%);
     background-color: black;
}
.innerColumn3{
    display: flex;
    flex-grow: 1;
 background-color: hsl(240, 78%, 98%);
    color: red;
}

.innerRow1{
    flex-grow: 1;
}
.innerRow2{
    flex-grow: 4;
   border: 5px solid black; 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column; 
}
.innerRow3{
    flex-grow: 1;
}

.twoInnerCol{
    border: 2px solid;
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.twoInnerCol-2{
    border: 2px solid;  
    background-color: hsl(236, 72%, 79%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.middleInnerRow2{
    display: flex;
    flex-direction: column;
    border: 2px solid red
}

.middleInnerRow{
     border: 2px solid green; 
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.toggle {
    appearance: none;
    width: 50px;
    height: 26px;
    background-color: hsl(228, 45%, 44%);
    border-radius: 13px;
    position: relative;
  }

.toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color: white;
    transition: transform 0.2s;
  } */

  /* .toggle:checked::before {
    transform: translateX(24px);
  } */

